.contain {
  border: solid 3px palevioletred;
  background: greenyellow;
  height: 400px;
  width: 400px;
}

.contain-fill {
  border: solid 3px orange;
  height: 400px;
  width: 400px;
}

.image-cover {
  border: solid 2px red;
  object-fit: cover;
}

.img-fit {
  height: 400px;
  width: 400px;
  object-fit: fill;
}

.image-contain {
  height: 400px;
  width: 400px;
  object-fit: contain;
}

.scale-down {
  height: 400px;
  width: 400px;
  object-fit: scale-down;
}

.object-position {
  object-position: left bottom;
  image-orientation: from-image;
}
